html
{
    overflow-x: hidden;
    height: 100vh;
    margin-top: 0px;
    margin-left: 0px;
}

body
{
    zoom: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#headerIn
{
    color: white;
    height: 10vh;
    width: 100vw;
    margin-right: 20px;
    background-color: red;
}

#tituloIn
{
    font-family: Segoe UI;
    font-weight:bold;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px; 
    padding-top: 1.5vh;
    padding-left: 50px;
    float: left;
}

#alinearContenidosIndex
{
    vertical-align: 4vh;
}

#contenidosIndex
{
    margin-left: 20vw;
}

.linkIndex
{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 26px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top:5vh;
    padding-bottom:2.8vh;
    margin-left:-5px;
    transition: 0.3s;
}

.linkIndex:hover
{
    color: blue;
    background-color: lightblue;
    transition: 0.3s;
}

.linkIndexRedes
{
    text-decoration: none;
    margin-left: 35px;
}

.linkImgIndex
{
    margin-bottom: -12px;
    height: 40px;
    width: 40px;
}

#imgheader
{
    clear: left;
    margin-top:18px;
    margin-left:0px;
}

#tituloimagenheader
{
    padding-top:120px;
    padding-bottom: 0px;
    right: 70px;
    color: black;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#imgImagenheader
{
    height: 65vh;
    width: 100vw;
}

#contenedorBodyIndex
{
    clear:right;
    font-family: Segoue UI;
    margin-top: 70vh;
}

.descripcionIndex
{
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    width: 25vw;
}

.descripcionImagenindex
{
    border-radius: 10%;
    height: 220px;
    width: 350px;
}

.subtitulobodyindex
{
    margin-top:10px;
    margin-bottom:18px;
    color: black;
    font-size: 25px;
    text-align:center;
}

p
{
    text-align:justify;
    width:100%;
    margin-top:0px;
    margin-left:35px;
}

#pie
{
    width:100vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: whitesmoke;
    margin-top: 0px;       
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: black;
}

/*Estilos para la pagina de autor*/
.back-imag
{
    
    background-image: url(../imagen/chesi.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    height: 390px;
    width: 350px;
    
}
.image-left{
    
    padding-right: 25%;
    border-right: 0px dashed black;
    
}

.aleft{
    float: left;
}

.label-text{
    
    
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: burlywood;
    
}
.input-text{
    font-size: 20px;
    margin-top: 20px;
    width: 220px;
    height: 30px;
    border: 0.5px solid turquoise;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
    

}
#textarea
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}
#piea
{
width:100vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: whitesmoke;
    margin-top: 110px;       
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: black;
}
/*estilos para la pagina contactos*/
#boton
{
    color: teal;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    font-size: 25px;
    font-weight: bold;
    font-family: fantasy;
    text-decoration: none;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.5s;
    position: absolute;
    margin-left: 15%;
}
#boton:hover
{
    color:white;
    background-color: teal;
    transition: 0.5s;
}
.Conback-imag
{
    
    
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10%;
    margin-top: 30px;
    height: 300px;
    width: 300px;
    
}
.Conimage-left{
    
    padding-right: 25%;
    border-right: 0px dashed black;
    
}
.Conleft{
    float: left;
    margin-left: 10%;
}


.textoetiqueta{
    
    
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: burlywood;
    
}
.Textocaja{
    font-size: 20px;
    margin-top: 20px;
    width: 220px;
    height: 30px;
    border: 0.5px solid turquoise;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
    

}
#area
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}
#tituloinfo
{
    
    margin-left: 10%;
    padding-top:50px;
    padding-left: 0px;
    right: 70px;
    color: black;
    position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
#piec
{
    width:100vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: whitesmoke;
    margin-top: 180px;       
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: black;
}
/*Para pagina productos*/
#contenedorProducto
{
    clear:right;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 70px;
}

.descripcionproducto
{
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    text-align: center;
    width: 25vw;
    color: whitesmoke;
    padding-bottom: 15px;
}

.descripcionproductoimagen
{
    border-top-right-radius: 10%;
    height: 150px;
    width: 250px;
    
}

.subtituloproducto
{
    margin-left: 35px;
    margin-top:10px;
    margin-bottom:18px;
    color: whitesmoke;
    font-size: 15px;
    text-align:left;
}
#color
{
    background-color: darkcyan;
    
}
